<div class="container">
  <div class="row">
    <div class="col my-4">
      <h1>Welcome, <%= current_profile['name']%></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Username : <%= current_profile['username']%></h6>
          <h5 class="card-title">Name : <%= current_profile['name']%></h5>
          <p class="card-text">Email : <%= current_profile['email'] %></p>
          <p class="card-text">Country : <%= current_profile['country'] %></p>

          <a href="/profiles/edit" class="btn btn-success float-end btn-lg">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
