<div class="container">
  <div class="row">
    <div class="col my-4">User List</div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Country</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @profiles.each_with_index do |profile, index|%>
          <tr>
            <td><%= index + 1 %> </td>
            <td><%= profile['name']%></td>
            <td><%= profile['username']%></td>
            <td><%= profile['email']%></td>
            <td><%= profile['country'] %></td>
            <td>
              <a href="/profiles/<%= profile['id'] %>/view" class="btn btn-success">View</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
