<div class="container">
  <div class="row">
    <div class="col my-4">Adding A Motor</div>
  </div>

  <div class="row">
    <div class="col">
      <% if @errors.any? %> 
        <% @errors.each do |error| %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div><%= error %></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %> 
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form action="/adding" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= params[:name]%>" />
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select class="form-select" aria-label="Selected Input" id="type" name="type">
            <option selected value="<%= params[:type] %>">Select the Type</option>
            <option value="Matic">Matic</option>
            <option value="Sport">Sport</option>
            <option value="Cub">Cub</option>
            <option value="EV">EV</option>
            <option value="BigBike">BigBike</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="brand" class="form-label">Brand</label>
          <select class="form-select" aria-label="Selected Input" id="brand" name="brand">
            <option selected value="<%= params[:brand] %>">Select the Brand</option>
            <option value="Suzuki">Suzuki</option>
            <option value="Honda">Honda</option>
            <option value="Yamaha">Yamaha</option>
            <option value="Harley Davidson">Harley Davidson</option>
            <option value="Kawasaki">Kawasaki</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="chair" class="form-label">Chair</label>
          <input class="form-select" type="number" id="chair" name="chair" value="<%= params[:chair]%>" />
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <select class="form-select" aria-label="Selected Input" name="country" id="country">
            <option selected value="<%= params[:country] %>">Select the Country</option>
            <option value="Germany">Germany</option>
            <option value="Japan">Japan</option>
            <option value="China">China</option>
            <option value="Taiwan">Taiwan</option>
            <option value="South Korea">South Korea</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="manufacture" class="form-label">Manufacture</label>
          <input type="date" class="form-control" id="manufacture" name="manufacture" value="<%= params[:manufacture]%>" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price" value="<%= params[:price]%>" />
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label">The Image</label>
          <input class="form-control" type="file" id="photo" name="photo" />
        </div>

        <div class="mb-3">
          <label for="warranty" class="form-label">Warranty</label>
          <input class="form-control" type="file" id="warranty" name="warranty" />
        </div>

        <button type="submit" class="btn btn-primary float-end">Submit</button>
      </form>
      <a class="btn btn-light" href="/motors">Back</a>
    </div>
  </div>
</div>
