<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Edit A Car</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @errors.any? %> 
      <% @errors.each do |error| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div><%= error %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% end %> 
      <% end %>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <form action="/motors/<%= @motor['id'] %>" method="post" enctype="multipart/form-data">
        <!-- Hidden Method -->
        <div class="mb-3">
          <input type="hidden" name="_method" value="post" />
        </div>

        <!-- Name Field -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= @motor['name'] %>" />
        </div>

        <!-- Type Field -->
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select class="form-select" aria-label="Selected Input" name="type" id="type">
            <option selected value="<%= @motor['type'] %>"><%= @motor['type'] %></option>
            <option value="Matic">Matic</option>
            <option value="Sport">Sport</option>
            <option value="Cub">Cub</option>
            <option value="EV">EV</option>
            <option value="BigBike">BigBike</option>
          </select>
        </div>

        <!-- Brand Dropdown -->
        <div class="mb-3">
          <label for="brand" class="form-label">Brand</label>
          <select class="form-select" id="brand" name="brand">
            <option selected value="<%= @motor['brand'] %>"><%= @motor['brand'] %></option>
            <option value="Suzuki">Suzuki</option>
            <option value="Honda">Honda</option>
            <option value="Yamaha">Yamaha</option>
            <option value="Harley Davidson">Harley Davidson</option>
            <option value="Kawasaki">Kawasaki</option>
          </select>
        </div>

        <!-- Chair Field -->
        <div class="mb-3">
          <label for="chair" class="form-label">Chair</label>
          <input class="form-control" type="number" id="chair" name="chair" value="<%= @motor['chair'] %>" />
        </div>

        <!-- Country Field -->
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <select class="form-select" aria-label="Selected Input" name="country" id="country">
            <option selected value="<%= @motor['country'] %>"><%= @motor['country'] %></option>
            <option value="Germany">Germany</option>
            <option value="Japan">Japan</option>
            <option value="China">China</option>
            <option value="Taiwan">Taiwan</option>
            <option value="South Korea">South Korea</option>
          </select>
        </div>

        <!-- Manufacture Field -->
        <div class="mb-3">
          <label for="manufacture" class="form-label">Manufacture</label>
          <input type="date" class="form-control" id="manufacture" name="manufacture" value="<%= @motor['manufacture'] %>" />
        </div>

        <!-- Price Field -->
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price" value="<%= @motor['price'] %>" />
        </div>

        <!-- Photo Upload -->
        <div class="mb-3">
          <label for="photo" class="form-label">Place the Image</label>
          <% if @motor['photo'] %>
          <img src="/uploads/<%= @motor['photo'] %>" class="img-thumbnail" alt="<%= @motor['name'] %>" style="max-width: 200px" />
          <% end %>
          <input class="form-control" type="file" id="photo" name="photo" />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary float-end">Update</button>
      </form>
      <a class="btn btn-light" href="/motors">Back</a>
    </div>
  </div>
</div>
